<div id="footer">
    <div class="container">
        <div class="box_footer">
            <h4>Thông tin an khang</h4>
            <a rel="dofollow" href="#">Giới thiệu</a>
            <a rel="dofollow" href="#">Sơ đồ web</a>
            <a rel="dofollow" href="#">Liên hệ - hợp tác</a>
            <a href="#">Tài khoản ngân hàng</a>
        </div>
        <div class="box_footer">
            <h4>Hỗ trợ mua hàng</h4>
            <a rel="nofollow" href="#">Mua hàng Online</a>
            <a rel="nofollow" href="#">Hướng dẫn mua hàng</a>
            <a rel="nofollow" href="#">Hướng dẫn thanh toán</a>
            <a rel="nofollow" href="#">Mua hàng trả góp</a>
        </div>
        <div class="box_footer">
            <h4>Chính sách chung</h4>
            <a rel="nofollow" href="#">Chính sách bảo hành</a>
            <a rel="nofollow" href="#">Chính sách đổi mới</a>
            <a rel="nofollow" href="#">Chính sách vận chuyển</a>
            <a rel="nofollow" href="#">Chính sách hỗ trợ</a>
        </div>
        <div class="box_footer">
            <h4>Tin tức</h4>

            <a href="#">Tin công nghệ</a>

            <a href="#">Tin khuyến mại</a>

            <a href="#">Tin công ty</a>

            <a href="#">Tuyển dụng</a>

        </div>
        @*<div id="fanpage-footer">
            <div class="fb-page fb_iframe_widget" data-href="#" data-width="300" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=300&amp;height=130&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FAnKhangComputer&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=false&amp;width=300"><span style="vertical-align: bottom; width: 300px; height: 130px;"><iframe name="f180b5582c" width="300px" height="130px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" src="http://www.facebook.com/v2.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df2dc30c528%26domain%3Dwww.ankhang.vn%26origin%3Dhttp%253A%252F%252Fwww.ankhang.vn%252Ff3a20d958%26relation%3Dparent.parent&amp;container_width=300&amp;height=130&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FAnKhangComputer&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=false&amp;width=300" style="border: none; visibility: visible; width: 300px; height: 130px;" class=""></iframe></span></div>
        </div>*@
        <div class="clear"></div>
    </div><!--container-->
</div><!--footer-->
<div id="footer_bottom">
    <div class="container">
        <div style="color: #feee02;
    text-transform: uppercase;
    font-size: 15px; font-weight:bold; display:block;">CÔNG TY TNHH MÁY TÍNH VÀ VIỄN THÔNG AN KHANG</div>
        <div class="box_footer">
            <div class="box_footer" id="address-footer">
                <h4> CƠ SỞ 1 </h4>
                <span>
                    Địa chỉ: Số 210 Thái Hà, Trung Liệt<br>
                    Đống Đa, Hà Nội <br>
                    Điện thoại: 04 3537 9888 <br>
                    Fax: 04 3537 9509 <br>
                    Mail: sales@ankhang.vn<br>
                </span>
            </div>
        </div>
        <div class="box_footer" id="address2-footer">
            <h4>CƠ SỞ 2</h4>
            <span>
                Địa chỉ: Số 2, ngõ 71, Trần Quang Diệu<br>
                Đống Đa, Hà Nội    <br>
                Điện thoại: 04.3874 6868<br>
            </span>
        </div>
        <div class="box_footer" id="bh-footer">
            <h4>Trung tâm bảo hành</h4>
            <span>
                Tầng 3, 210 Thái Hà, Đống Đa, Hà Nội<br>
                Điện thoại: 04 3537 9888  (+106)<br>
                Email: baohanh@ankhang.vn <br>
            </span>
        </div>
        <div class="box_footer right">
            <div id="social_bottom">
                <span style="float:left; line-height:29px; margin-right:8px;">Chia sẻ</span>
                <a href="#" class="bg icon_fb" target="_blank"></a>
                <a href="#" class="bg icon_yo" target="_blank"></a>
                <a href="#" class="bg icon_tw" target="_blank"></a>
                <a href="#" class="bg icon_go" target="_blank"></a>
            </div>
            <div id="news_letter" class="bg">
                <input type="text" id="email_newsletter" placeholder="Nhập email nhận tin KM">
                <a href="javascript:subscribe_newsletter()">Gửi</a>
            </div>
            <a href="" target="_blank" id="bct"><img src="/template/2015/images/dangkybocongthuong.jpg" alt="Đăng ký bộ công thương"></a>
        </div>
    </div>
</div>
<div id="tag_footer">
    <div class="container">
        <b>Hot tags:</b>
        <a href="#">Laptop</a>
        <a href="#">Máy tính xách tay</a>
        <a href="#">Máy tính bảng lai laptop</a>
        <a href="#">Máy tính bảng</a>
        <a href="#">Linh kiện máy tính</a>
        <a href="#">Linh kiện laptop</a>
        <a href="#">Ổ cứng laptop</a>
        <a href="#">Ram laptop</a>
        <a href="#">Sạc pin laptop</a>
        <a href="#">Màn hình laptop</a>
        <a href="#">Pin laptop</a>
        <a href="#">Bàn phím laptop</a>
        <a href="#">Ổ quang laptop</a>
        <a href="#">Box chuyển đổi</a>
        <a href="#">Ổ cứng gắn ngoài</a>
        <a href="#">USB Flash </a>
        <a href="#">Laptop Gaming</a>
        <a href="#">Máy văn phòng</a>
        <a href="#">Loa máy tính</a>
        <a href="#">Phụ kiện - Đồ chơi laptop</a>
        <a href="#">Quạt tản nhiệt</a>
        <a href="#">Thiết bị mạng</a>
        <a href="#">Máy nghe nhạc</a>
    </div>
</div><!--tag_footer-->
<div class="container" style="padding:10px 0 40px 0;">
    <div id="copyright">Copyright ©2014 AnKhang. <a href="?show_version=mobile">Xem phiên bản Mobile</a></div>
</div><!--container-->
