<div id="top">
    <div class="container">
        <div class="banner_scroll scroll_left"><a href="/ad.php?id=99" target="_blank" rel="nofollow"><img border="0" src="http://www.ankhang.vn/media/banner/banner_ac627ab1.png" width="70" height="412" alt="banner 2 ben"></a></div>
        <div class="banner_scroll scroll_right"><a href="/ad.php?id=104" target="_blank" rel="nofollow"><img border="0" src="http://www.ankhang.vn/media/banner/banner_c9e1074f.png" width="70" height="412" alt="khuyen mai thang 1"></a></div>
        <ul class="ul">
            <li><i class="bg icon_cskh"></i> <span>CSKH: </span><b>0904 332 781</b></li>
            <li id="support_top">
                <i class="bg icon_yahoo"></i><span>Hỗ trợ trực tuyến</span>&nbsp;<i class="bg icon_drop"></i>
                <div id="h_menu_sub_on1" class="h_menu_sub hOnline">
                    <div class="hOnline-order">
                        <div class="support_title">210 Thái Hà:(04)3537.9888</div>
                        <div class="item"><div class="label"><a rel="nofollow" href="ymsgr:SendIM?ankhang_kd6">Hoàng Huy</a></div><div class="yahooicon"><a href="ymsgr:SendIM?ankhang_kd6"><img border="0" src="http://opi.yahoo.com/online?u=ankhang_kd6&amp;m=g&amp;t=0&amp;l=us"></a>  097.191.3355</div></div>

                        <div class="item"><div class="label"><a rel="nofollow" href="ymsgr:SendIM?ankhang_kd12">Xuân Dũng</a></div><div class="yahooicon"><a href="ymsgr:SendIM?akcdungdx"><img border="0" src="http://opi.yahoo.com/online?u=akcdungdx&amp;m=g&amp;t=0&amp;l=us"></a>  0913.866872</div></div>

                        <div class="item"><div class="label"><a rel="nofollow" href="ymsgr:SendIM?ankhang_kd15">Văn Thành</a></div><div class="yahooicon"><a href="ymsgr:SendIM?ankhang_kd12"><img border="0" src="http://opi.yahoo.com/online?u=ankhang_kd12&amp;m=g&amp;t=0&amp;l=us"></a>   0962.318.493</div></div>
                        <!--    <div class="item"><div class="label"><a rel="nofollow" href="ymsgr:SendIM?ankhang_kd14">Vũ Tùng</a></div><div class="yahooicon"><a href="ymsgr:SendIM?ankhang_kd14"><img border="0" src="http://opi.yahoo.com/online?u=ankhang_kd14&m=g&t=0&l=us"/></a></div></div>  -->
                        <div class="item"><div class="label"><a rel="nofollow" href="ymsgr:SendIM?ankhang_kd1">Hỗ Trợ Dự Án</a></div><div class="yahooicon"><a href="ymsgr:SendIM?ankhang_kd1"><img border="0" src="http://opi.yahoo.com/online?u=ankhang_kd1&amp;m=g&amp;t=0&amp;l=us"></a>  0981.999.688</div></div>
                        <div class="item"><div class="label"><a rel="nofollow" href="ymsgr:SendIM?ankhang_kd1">Hỗ Trợ Kĩ Thuật</a></div><div class="yahooicon"><a href="ymsgr:SendIM?ankhang_kd1"><img border="0" src="http://opi.yahoo.com/online?u=ankhang_kd1&amp;m=g&amp;t=0&amp;l=us"></a>  04 3537 9888<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (line 104 - 105) </div></div>
                        <div class="item"><div class="label"><a rel="nofollow" href="ymsgr:SendIM?ankhang_kd1"> Bảo Hành </a></div><div class="yahooicon"><a href="ymsgr:SendIM?ankhang_kd1"><img border="0" src="http://opi.yahoo.com/online?u=ankhang_kd1&amp;m=g&amp;t=0&amp;l=us"></a>   093 669 7181</div></div>
                    </div><!--hOnline-order-->
                </div><!--h_menu_sub-->
            </li>
            <li id="social_top" class="nomar_r">
                <a href="#" class="bg icon_fb" target="_blank"></a>
                <a href="#" class="bg icon_yo" target="_blank"></a>
                <a href="#" class="bg icon_tw" target="_blank"></a>
                <a href="#" class="bg icon_go" target="_blank"></a>
            </li>
            <li id="list_hot_news_top">
                <i class="bg icon_news"></i><a href="/tin-tuc">Tin tức nổi bật</a>
                <ul class="ul">
                    <li><a href="#"><img src="/media/news/120_87_2203_khuyen_mai_asus_2203.jpg" alt="Mua máy tháng 3, Nhận ngay quà hấp dẫn cùng Asus"> <span>Mua máy tháng 3, Nhận ngay quà hấp dẫn cùng Asus</span> </a></li>
                    <li><a href="#"><img src="/media/news/120_86_ss.PNG" alt="Cùng Samsung đón cơn lốc giá"> <span>Cùng Samsung đón cơn lốc giá</span> </a></li>
                    <li><a href="#"><img src="/media/news/120_88_unnamed.jpg" alt="Săn Rồng Cùng MSI"> <span>Săn Rồng Cùng MSI</span> </a></li>
                    <li><a href="#"><img src="/media/news/120_51_tuyen_dung_nhan_su_2015_322015112037am.gif" alt="AN KHANG TUYỂN DỤNG NHÂN SỰ THÁNG 3-4 NĂM 2016"> <span>AN KHANG TUYỂN DỤNG NHÂN SỰ THÁNG 3-4 NĂM 2016</span> </a></li>
                    <li><a href="#"><img src="/media/news/120_73_laptop_lenovo_s410.jpg" alt="Đánh giá laptop Lenovo S410 máy tính xách tay mỏng nhẹ phân khúc tầm trung"> <span>Đánh giá laptop Lenovo S410 máy tính xách tay mỏng nhẹ phân khúc tầm trung</span> </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div><!--top-->
<div class="clear"></div>
<div class="container">
    <div id="header">
        <a href="/" id="logo">
            <img src="~/Content/img/logo_logo.png" alt="Laptop giá rẻ, Máy tính xách tay, Máy tính bảng, Linh kiện laptop">
        </a>
        <div id="banner_header"><a href="/ad.php?id=52" target="_blank" rel="nofollow"><img border="0" src="http://www.ankhang.vn/media/banner/banner_9a115815.gif" width="720" height="80" alt=""></a></div>
        <div id="header_right">
            <div id="login_header">

                <i class="bg icon_user"></i><a href="/taikhoan" rel="nofollow">Tài khoản</a>

            </div>
            <div id="cart" onclick="location.href='/gio-hang'"><i class="bg icon_cart"></i> Giỏ hàng (<span id="count_shopping_cart_store">0</span>) </div>
        </div>
    </div><!--header-->
    <script type="text/javascript">
                $(document).ready(function () {
                    $(".sub_nav").each(function () {
                        //sort_sub_nav(0,16,$(this).find("li"),$(this));
                    });
                    $("#nav_vertical li").hover(function () {
                        $(this).children(".sub_nav").show();
                    }, function () {
                        $(this).children(".sub_nav").hide();
                    });
                });
    </script>
    <script type="text/javascript">
                $(document).ready(function () {
                    $(window).scroll(function () {
                        t = $(window).scrollTop();
                        if (t > 500) $("#nav_horizontal").addClass("fixed");
                        else $("#nav_horizontal").removeClass("fixed");
                    });
                });
    </script>
    <div class="clear"></div>
</div><!--container-->
